html{
    background-color: black;
}
body{
    margin: 0;
    padding: 0%;
    color: black;
}

header{
    margin-top: 0;
}

header a{
    text-decoration: none;
    color: white;
}

header a:hover{
    list-style-type: none;
    background-color: red;
    animation-delay: 3ms;
    color: white;
}

header ul{
    height: 50px;
    width: 100%;
    display: inline-flex;
    color: #ade1fb;
    font-size: larger;
    list-style-type: none;
}

header li{
    color:aqua;
    display: inline;
    padding-top: 10px;
    margin-right: 20px;
}

.contendorImg img{
    border-radius: 100%;
}

.contenedor{
    float: left;
    width: 100%;
    height: 8%;
    margin: 0;
    background-color: black;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
}